@use 'src/styles/vars';

.message {

  .message__content {
  background: vars.$white;
  border: 1px solid vars.$grey-light;
  margin-block-end: vars.$space-base * 2;
  padding: vars.$space-base * 1.8;
  border-radius: vars.$radius;
  }

  .message_author {
    padding-block: vars.$space-base;
  }
}