@use 'src/styles/vars';

.form {
  margin-block-start: auto;
  display: flex;
  margin-block-end: vars.$space-base * 2;

  .form__message, .form__submit {
    height: vars.$size-base * 1.3;
  }
  
  .form__message {
    display: inline-block;
    width: 100%;
    border: 1px solid vars.$grey-light;
    margin-block-end: vars.$space-base * 2;
    padding: vars.$space-base * 1.8;
    border-radius: vars.$radius;
  }

  .form__submit {
    width: 40px;
  }
}