@use 'src/styles/vars';

.form {
  margin-block-start: auto;
  display: flex;

  .form__message, .form__submit {
    height: vars.$size-base * 2;
  }
  
  .form__message {
    font-size: vars.$font-size-base;
    display: inline-block;
    width: 100%;
    padding: vars.$space-base * 1.8;
    border-start-start-radius: vars.$radius;
    border-end-start-radius: vars.$radius;
    border: none;
  }

  .form__submit {
    width: vars.$size-base * 2;
    background: vars.$white;
    border: none;
    border-start-end-radius: vars.$radius;
    border-end-end-radius: vars.$radius;

    svg {
      width: 100%;
      height: 100%;
      color: vars.$blue-medium;
    }
  }
}