// TYPOGRAPHY

$font-size-base: 1.2em;

$font-size-medium: 1.5rem;
$font-size-large: 1.8rem;
$font-size-very-large: 2.5rem;


$font-family-base: 'Roboto', sans-serif;

// SPACING

$space-base: 8px;

// $space-small: $space-base * 2;    // 16px
// $space-medium: $space-base * 3;   // 24px
// $space-large: $space-base * 4;   // 32px

// COLOR PALETTE

$white: hsl(100deg, 100%, 100%);
$black: hsl(0deg, 0%, 0%);
$grey-light: hsl(204, 8%, 76%);
$background: hsl(204, 66%, 22%);
$blue-light: hsl(204, 63%, 84%);
$blue-medium: hsl(204, 63%, 40%);
$blue-dark: hsl(207, 80%, 18%);
$violet: hsl(253deg, 83%, 61%);

// Border Radius
$radius: 5px;
$radius-medium: 10px;
$radius-large: 15px;
$radius-very-large: 30px;

// SIZES

$size-base: 32px;

// LINE-HEIGHT
$line-height: 1.6;
$line-height-title: 1.2;