@use 'src/styles/vars';

.chatroom {
  width: 900px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  height: 100%;

  background: vars.$blue-light;
  overflow: hidden;

  position: relative;
}