@use 'src/styles/vars';

.settings-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: vars.$blue-dark;
  width: 63px;
  transition-property: width;
  transition-duration: 1s;


  &.settings-wrapper--open {
    width: 300px;
    transition-property: width 1s;
    transition-duration: 1s;
  }

  &.settings-wrapper--open:hover {
    width : 300px;
  }

  .settings {
    display: flex;
    flex-direction: column;
    margin: vars.$space-base;


    .settings__email, .settings__password, .settings__submit {
      height: vars.$size-base * 1.2;
      border-radius: vars.$radius;
      margin-block: vars.$space-base * 0.5;
      padding-inline: vars.$space-base;
      border: none;
    }

    .settings__submit {
      background: vars.$violet;
      color: vars.$white;
    }
  }
}
